
* {
  border-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-image: url("images/plantlight-background1.jpg");
  background-size: cover;
  height: 100vh;
}

#header-img {
  position: relative;
  left: 10px;
  width: 100px;
  height: 100px;
}

#header-section {
  position: absolute;
  top: 15%;
  left:3%;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  margin: 0 30px;
}

#banner {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(#005c99, #006bb3, #007acc, #006bb3,#005c99);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.banner-section {
  display: block;
  text-align: center;
}

.small-icon {
  width: 75px;
  height: 75px;
}

h1 {
  font-size: 7vh;
  line-height: 1.2;
}

video {
  width: 1000px;
  height: auto;
}
.video-div {
  display: block;
  text-align: center;
  margin: 20px auto;
  line-height: 1.5;
}

 #features {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: center;
   align-items: center;
   padding: 10vh;
   background: linear-gradient(#005c99, #006bb3, #007acc, #006bb3,#005c99);
   border-top: 1px solid black;
   border-bottom: 1px solid black;
 }

 .features-section {
  border: 2px solid black;
  border-radius: 5px;
  width: 360px;
  max-width: 100%;
  text-align: center;
  padding: 1em;
  background: white;
  line-height: 1.5;
  box-shadow: 0 0px 15px black;
}

h2 {
  text-align: center;
}

#main-made {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 2em;
}

#made {
  position: relative;
  width: 560px;
  max-width: 100%;
  height: 315px;
  margin: 0 10px 5vh 10px;
  line-height: 1.5;
  text-align: justify;
}

#made-img {
  width: 99%;
}

#gallery-banner {
  background-image: url("images/bonsai.jpg");
  background-size: cover;
  height: 450px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#gallery {
  display: block;
  text-align: center;
  margin: 20px auto;
  line-height: 1.5;
}

.gallery-div {
  display: inline-block;
  text-align: center;
  margin: 20px auto;
  line-height: 1.5;
  width: 50%;
}

.gallery-img {
  width: 500px;
  max-width: 100%;
}
